/accuracy_comparison.svg
/accuracy_f1_comparison.svg
/archive
/archive.zip
/diabetes.csv
/f1_comparison.svg
/final
/loss_comparison.svg
/loss_comparison_graph.svg
/Marc's results.docx
/output1.png
/output2.png
/output3.png
/output4.png
/output_final.png
/output_final1.png
/QML.ipynb
/QMLNotes.docx
/QML_py.py
/Quantum_Algorithm_Results_Presentation.pptx
/Qubito_challenge_QML.pptx
/survival_analysis.png
/test_accuracy_comp.png
/test_loss_test.png
/Transformed_Breast_Cancer_Filled.csv
/Updated_Quantum_Algorithm_Results_Presentation.pptx